<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Quiz | Signup</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/asserts/script.js}"></script>
</head>
<body>
<section class="main">

    <nav>
        <a href="/" class="logo">
            <img src="images/logo.png" height="40px" th:src="@{/images/logo.png}" />
        </a>
        <input class="menu-btn" type="checkbox" id="menu-btn"/>
        <label class="menu-icon" for="menu-btn">
            <span class="nav-icon"></span>
        </label>
        <ul class="menu" style="border-radius: 5px;">
            <li><a th:href="@{/index.html}">Home</a></li>
            <li><a th:href="@{/Login.html}" class="active" th:onclick="'document.getElementById(\'id01\').style.display=\'block\''" style="width:auto; border-radius: 5px; cursor: pointer;">Login</a></li>
        </ul>
    </nav>

    <form action="/signup" method="post">
        <h2>Signup</h2>
        <div class="form-group fullname">
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" placeholder="Enter your full name" name="fullname" th:name="firstName">
        </div>
        <div class="form-group student_id">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your Email" name="email" th:name="email">
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select id="role" name="role" th:name="role">
                <option value="Student">Student</option>
                <option value="Teacher">Teacher</option>
            </select>
        </div>
        <div class="form-group password">
            <label for="password">Password</label>
            <i id="pass-toggle-btn" class="fas fa-eye"></i>
            <input type="password" id="password" placeholder="Enter your password" name="password" th:name="password">
        </div>
        <br />
        <div class="form-group submit-btn">
            <input type="submit" value="Signup">
        </div>
        <div>
            <a th:href="@{/login}" class="info" style="color: #fff;">I already have an account</a>
        </div>
    </form>


</section>
<!--footer------------->
<footer>
    <p>Copyright (C) - 2023 | Developed By <a>MUVUNYI Arsene</a> </p>
</footer>
</body>
</html>
